*{
	margin: 0;
	padding: 0;
}
body{
	min-height: 100vh;
	font-family: Segoe UI', Tahoma,  Geneva, Verdana, sans-serif ;
}
nav{
	background-color: white;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
nav li{
	height: 50px;
}
nav a{
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	display: flex;
	align-items: center;
	color: black;
}
nav a:hover{
	background-color: #f0f0f0;
}
nav li:first-child{
	margin-right: auto;
}
.sidebar{
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 250px;
	z-index: 999;
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
	display: none;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.sidebar li{
	width: 100%;
}
.menu-button{
	display: none;
}
.container {
	width: 210vh;
	height: 44%;
	position: absolute;
	transform: translate(-50%,-50%);
	top: 30%;
	left: 50%;
	overflow: hidden;
}

.wrapper {
	width: 100%;
	display: flex;
	animation: slide 16s infinite;
}
.wrapper img{
	width: 100%;
	height: auto;

}
@keyframes slide{
	0%{
		transform: translateX(0);
	}
	25%{
		transform: translateX(0);
	}
	30%{
		transform: translateX(-100%);
	}
	50%{
		transform: translateX(-100%);
	}
	55%{
		transform: translateX(-200%);
	}
	75%{
		transform: translateX(-200%);
	}
	80%{
		transform: translateX(-300%);
	}
	100%{
		transform: translateX(-300%);
	}

}
.slide_con
{
    background-image: url("images/back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 90vh;
}
.bg {
	width: 100%;
	background-position: center;
	background-size: cover;
	
	
}
.slide_con .slide_content
{
    padding-top: 7%;
    margin-right: 10%;
}
.slide_con .slide_content h2
{
    color: white;
    font-size: 430%;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-weight: bolder;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.slide_con .slide_content h2 span
{
    font-size:40%;
    opacity: 0.9;
    font-weight: 400;
    line-height: 50px;
}
h2, span, a {
    text-decoration: none !important;
}
.side 
{
    margin-top:5%;
    margin-bottom: 5%;
    display: flex;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.side .left
{
    float: left;
}
.side .right
{
    float:right;
    padding-left: 10%;
}
.side .right h2
{
    font-size: 250%;
}
.side .right p
{
    width: 50%;
    font-size: 140%;
    margin-left:25%;
    margin-top: 8%;
}
.side .right h2, .side .right p {
    text-decoration: none;
    color: black;
}

@media (max-width:800px){
	.hideOnMobile{
		display: none;
	}
	.menu-button{
		display: block;
	}
	.container{
		width: 100%;
	}
	.wrapper{
		width: 100%;
	}
	.slide_con{
		height: 57vh;
	}
	.slide_con .slide_content{
		padding-top: 25%;
    	margin-right: 0%;
	}
	.slide_con .slide_content h2{
		font-size: 250%;
		line-height: 40px;
	}
	.slide_con .slide_content h2 span{
		font-size: 50%;
		line-height: 15px;
	}
/*----------------------------------------------------------------------------------------------------*/
	.side img{
		width: 70%;
		height: auto;
		display: block;
	}
	.side 
{
    width: 100%;
    margin-top:5%;
    margin-bottom: 5%;
    display: inline-block;
    text-align: center;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
.side .right h2
{
    font-size: 250%;
    margin-right: 15%;
    margin-top: 5%;
}
.side .right p
{
    width: 70%;
    font-size: 140%;
    margin-left: 5%;
    margin-top: 8%;
    text-align: center;
}	
}
@media(max-width: 400px){
	.sidebar{
		width: 100%;
	}
	.menu-button{
		display: block;
	}
	.container{
		width: 100%;
	}
	.wrapper{
		width: 100%;
		}
	.wrapper img{
		width: 100%;
		height: auto;
	}
	.slide_con .slide_content{
		padding-top: 25%;
    	margin-right: 0%;
	}
	.slide_con .slide_content h2{
		font-size: 250%;
	}
	.slide_con .slide_content h2 span{
		font-size: 50%;
	}	
}
